{% extends 'baselayout.html.twig' %}

{% block title %}Room{% endblock %}

{% block main %}
    <h1>Room</h1>

    {% if room.paste is not null %}
   <td><img src="{{ vich_uploader_asset(room.paste, 'imageFile') }}"/></td>
    {% endif %}
    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ room.summary }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room.description }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ room.capacity }}</td>
            </tr>
            <tr>
                <th>Superficy</th>
                <td>{{ room.superficy }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ room.price }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ room.address }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('room_index') }}">back to list</a>
	<br>
	{% if is_granted('ROLE_OWNER') or is_granted('ROLE_ADMIN') %}
    <a href="{{ path('room_edit', {'id': room.id}) }}">edit</a>
    {% endif %}
	
	{% if app.user.username is defined %}
    <form action="{{ path('comment') }}">
    <input type='hidden' name='uid' value={{ app.user.username }}>
    <input type='hidden' name='date' value='{{ date }}'>
    <input type='hidden' name='room' value={{ room }}>
    
    <textarea name='message'></textarea>
    <br><button type='submit' name='submit'>Comment</button>    
    </form>
    {% endif %}
    
    {% for comment in comments %}
    <div class="boxed">
    By {{ comment.user.email }} at {{ comment.date|date("Y-m-d H:i:s") }}
    <br>
    {{ comment.message }}
    </div>
    <br>
    {% endfor %}
    

    <style>
       
        {% include "room/style.css" %}
    </style>


    
{% endblock %}
